<div class="container">
  <h1>Editing Add Question</h1>

  <%= render 'form', add_question: @add_question %>

  <%= link_to 'Show', @add_question %> |
  <%= link_to 'Back', add_questions_path %>

</div>